@model IEnumerable<BlackBox.Models.ProductAdditionals.BookModel>

<div class="container">
    <div class="display-1">Результаты поиска по запросу "@ViewBag.SearchText"</div>
    <section class="py-5">
        <div class="container px-4 px-lg-5 mt-5">
            <div class="row gx-4 gx-lg-5 row-cols-2 row-cols-md-3 row-cols-xl-4 justify-content-center">
                @foreach (BlackBox.Models.ProductAdditionals.BookModel item in Model)
                {
                    <div class="col mb-5">
                    <a class="text-decoration-none" href="@Url.Action("Book", "Product", new {id = item.Book.ID})">
                        <div class="card h-100">
                            <!-- Sale badge-->
                            <div class="badge bg-dark text-white position-absolute" style="top: 0.5rem; right: 0.5rem">Sale</div>
                            <!-- Product image-->
                            <img class="card-img-top" src="@item.Book.PhotoLink" alt="..." />
                            <!-- Product details-->
                            <div class="card-body p-4">
                                <div class="text-center">
                                    <!-- Product name-->
                                    <h5 class="fw-bolder">@item.Book.Name</h5>
                                    <!-- Product price-->
                                    @if (!item.isBuyed)
                                    {
                                        @item.Book.Cost <span>р.</span>
                                    }

                                </div>
                            </div>
                            <!-- Product actions-->
                            <div class="card-footer p-4 pt-0 border-top-0 bg-transparent">
                                @if (item.isBuyed)
                                {
                                    <div class="text-center"><a class="btn btn-outline-dark mt-auto" href="@Url.Action("Profile", "Account")">Посмотреть в профиле</a></div>
                                }
                                else
                                {
                                    <div class="text-center"><a class="btn btn-outline-dark mt-auto" href="@Url.Action("AddToCart", "Ordering", new { id = item.Book.ID })">В корзину</a></div>
                                }
                            </div>
                        </div>
                    </a>
                </div>
                }


            </div>
        </div>
    </section>

</div>